@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* Zinc 50 */
    --background: 0 0% 98%;
    /* Zinc 950 */
    --foreground: 240 10% 3.9%;

    /* White */
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;

    /* Zinc 900 */
    --primary: 240 5.9% 10%;
    /* Zinc 50 */
    --primary-foreground: 0 0% 98%;

    /* Zinc 100 */
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;

    /* Zinc 100 */
    --muted: 240 4.8% 95.9%;
    /* Zinc 500 */
    --muted-foreground: 240 3.8% 46.1%;

    /* Zinc 100 */
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    /* Zinc 200 */
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;

    /* Zinc 950 */
    --ring: 240 10% 3.9%;

    --radius: 0.5rem;
  }

  .dark {
    /* Zinc 950 */
    --background: 240 10% 3.9%;
    /* Zinc 50 */
    --foreground: 0 0% 98%;

    /* Zinc 900 */
    --card: 240 5.9% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 240 5.9% 10%;
    --popover-foreground: 0 0% 98%;

    /* Zinc 50 */
    --primary: 0 0% 98%;
    /* Zinc 900 */
    --primary-foreground: 240 5.9% 10%;

    /* Zinc 800 */
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;

    /* Zinc 800 */
    --muted: 240 3.7% 15.9%;
    /* Zinc 400 */
    --muted-foreground: 240 5% 64.9%;

    /* Zinc 800 */
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    /* Zinc 800 */
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;

    /* Zinc 300 */
    --ring: 240 4.9% 83.9%;
  }
}

@layer base {
  * {
    border-color: hsl(var(--border));
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}